<lasso-page name="page1" package-path="./browser.json"/>

<html>
    <head>
        <lasso-slot name="css-slot" inline-style-attrs="{'my-custom': true}"/>
    </head>
    <body>
        <lasso-slot name="js-slot" inline-script-attrs="{'my-custom': true}"/>
    </body>
</html>
