<head>
    <link rel="stylesheet" href="/static/meta-dependencies-da39a3ee.css">
</head>
<body>
    <div class="my-component" id="s0"></div>
    <script src="/static/meta-dependencies-b5e2d41b.js"></script>
<script>$_mod.ready();</script>
<script>(function(){var w=window;w.$components=(w.$components||[]).concat({"w":[["s0",0,{},{"d":null,"b":null}]],"t":["/lasso$*/test/autotests/taglib/meta-dependencies/components/my-component/index.marko"]})||w.$components})()</script></body>