/work
/build
/.idea/
/npm-debug.log
/node_modules
/*.sublime-workspace
*.orig
.DS_Store
coverage
/test/build
/test/static
*.actual.js
*.actual.html
.lasso-cache
.cache
~*
.nyc_output/
dist-compat/
test-dist-compat/
.vscode
