<optimizer-page name="page1" package-path="./browser.json"/>
<optimizer-resource path="./favicon.ico" var="favicon"/>

<html>
    <head>
        <optimizer-head/>
        <link rel="shortcut icon" href="${favicon.url}">
    </head>
    <body>
        <optimizer-body/>
    </body>
</html>