<lasso-page name="page1" package-path="./browser.json"/>
<lasso-resource path="./favicon.ico" var="favicon"/>

<html>
    <head>
        <lasso-head/>
        <link rel="shortcut icon" href="${favicon.url}">
    </head>
    <body>
        <lasso-body/>
    </body>
</html>