<marko-compiler-options preserve-whitespace/>

<lasso-page name=data.pageName package-path="./browser.json" flags="amp"/>

<html>
    <head>
        <lasso-slot name="ext-css-slot" external-style-attrs={'my-custom': true}/>
    </head>
</html>
