<optimizer:page name="page1">
    <optimizer:dependencies>
        <!-- <package path="raptor-modules/client"/> -->
        <require path="foo"/>
        <require path="bar"/>
    </optimizer:dependencies>
</optimizer:page>

<html>
    <head>
        <optimizer:head/>
    </head>
    <body>
        <optimizer:body/>
    </body>
</html>