<html>
    <head>
        <link rel="stylesheet" href="/static/taglib-attrs-1ae3e9bf.css" my-custom>
        <link rel="stylesheet" href="/static/taglib-attrs-244694d6.css" my-custom>
        <style my-custom>body .inline {
    background-color: red;
}
</style>
    </head>
    <body>
        <script src="/static/taglib-attrs-12f06dc1.js" my-custom></script>
<script src="/static/template.marko.init-82470d4a.js" my-custom></script>
<script>$_mod.ready();</script>
        <script src="/static/taglib-attrs-c3a331b0.js" my-custom></script>
        <script my-custom>console.log('hello-inline');
</script>
    </body>
</html>