<marko-compiler-options preserve-whitespace/>

<lasso-page name=data.pageName package-path="./browser.json"/>
<lasso-resource path="./favicon.ico" var="favicon"/>

<html>
    <head>
        <lasso-head/>
        <link rel="shortcut icon" href="${favicon.url}">
    </head>
    <body>
        <lasso-img src="./marko-logo.png"/>
        <lasso-img src="./marko-logo.png" width="100" height="100"/>
        <lasso-body/>
    </body>
</html>