<lasso-page package-path="./browser.json"/>

<html>
    <head>
        <lasso-head/>
        <lasso-slot name="css-slot"/>
    </head>
    <body>
        <lasso-body/>
        <lasso-slot name="js-slot"/>
    </body>
</html>
